.AdActionEditBtn, .AdActionDeleteBtn {
    border: 1px solid grey;
}

.AdActionDeleteBtn{
    color: var(--danger-500);
}

.AdActionEditBtn{
    color: var(--info-500);
}

.AdActionEditBtn:hover {
    color: white;
    background-color: var(--info-500);
}

.AdActionDeleteBtn:hover {
    color: white;
    background-color: var(--danger-500);
}

